.card{
    padding: 20px;
}
.projectCardContainer{
    
    width: 100%;
    
    font-family: var(--font-mono);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
}
.colorWhiteSecondary{
    color: #d5eefd;
}
.colorBLack{
    color: #000000;
}
.header{
    border-radius:  20px 20px 0px 0px;
    background-color: #5085A5;
    
}
.footer{
    border-radius: 0px 0px 20px 20px;
    background-color: #ffffff;
}
.projectName{
    padding: 10px;
    width: 55%;
    color:#ffffff;
}
.datesContainer{
    font-size: 14px;
    padding: 10px 0px 10px 10px;
    

}